<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <label class="form-label">Num 1</label>
            <input [(ngModel)]="num1" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Num 2</label>
            <input [(ngModel)]="num2" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Resultado</label>
            <input [(ngModel)]="num1+num2" type="number" class="form-control">
        </div>
    </div>
</div>