body {
    background-color: black;
}

.inline{
    display: inline;
}

.esquerda{
    float: left;
    margin: 0px;
    background-color: red;
    width: 60px;
    height: 60px;
}
.direita{
    float: right;
    margin: 0px;
    background-color: blue;
    width: 60px;
    height: 60px;
}

.fixado{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.menuSuspenso{
    position: sticky;
    top: 10px;
}

.container{
    background-color: white;
    border-radius: 10px;
    margin: 0px auto;
    max-width: 780px;
    min-height: 400px;
    padding: 15px;
}
#titulo{
    font-size: x-large;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
}

a:link{
    color: darkgreen;
}
a:hover{
    font-size: 20px;
}
a:visited{
    color: gray;
}
a:active{
    color: orange;
    font-size: 15px;
}